
<section id="about">
    <div class="wrapper">
        {{content | widont}}
        <div class="links">
        {{ links }}
            <a href="{{ link }}" target="_blank">{{ icon }}</a>
        {{ /links }}
    </div>
    </div>
</section>
<section id="projects">
    <div class="wrapper">
        <h2>Projects</h2>
        <div id="projects-grid">
            {{ collection from="projects" }}
                <div class="project {{ if disable_media_scroll }}disable-scroll{{ /if }}">
                    {{ media }}
                        <div class="media">
                            {{ if is_video }}
                                <video autoplay loop>
                                    <source src="{{url}}" />
                                </video>
                            {{ else }}
                            <img src="{{ url }}" />
                            {{ /if }}
                        </div>
                    {{ /media }}
                    <div class="details">
                        <div class="title">{{ title }}</div>
                        <div class="tech">{{ technologies }}</div>
                        {{ if live_link }}
                        <a href="{{ live_link.url }}" target="_blank">View Live Site</a>
                        {{ /if }}
                    </div>
                </div>
            {{ /collection }}
        </div>
        
    </div>
</section>
