<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site:name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
        {{ vite src="resources/js/site.js|resources/css/site.css|resources/css/app.scss" }}
    </head>
    <body>
            {{ template_content }}
            <footer>
                <div class="wrapper">
                    &copy; {{ now | format('Y') }} Da-Hea An. All rights reserved.
                </div>
            </footer>
    </body>
</html>
